<!DOCTYPE html>
<html>
<head>
    <title>Patient Registration</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<h1>Patient Registration Form</h1>

<div class="container">

    <form>
        <input type="text" placeholder="Patient Name" required><br><br>
        <input type="number" placeholder="Age" required><br><br>
        <input type="text" placeholder="Disease" required><br><br>
        <input type="number" placeholder="Contact Number" required><br><br>

        <button type="submit">Register</button>
    </form>

    <br>

    <a href="dashboard.html">
        <button>Back to Dashboard</button>
    </a>

</div>

</body>
</html>